@import 'tailwindcss';

@utility container {
    margin-inline: auto;
}

@layer base {
    button {
        cursor: pointer;
    }
}

.ltr {
    direction: ltr;
    .text-unfinished {
        background: linear-gradient(
            270deg,
            var(--color-zinc-400),
            var(--color-zinc-100) 40%
        );
        background-clip: text;
        color: transparent;
    }
}
.rtl {
    direction: rtl;
    .text-unfinished {
        background: linear-gradient(
            90deg,
            var(--color-zinc-400),
            var(--color-zinc-100) 40%
        );
        background-clip: text;
        color: transparent;
    }
}
